:root{
    --color-brend:#2F303A;
    --color-accent:#2196F3;
    --color-background:#FFFFFF;
    --text-color:#212121;
    --text-color-optional:#757575;
   
}

body{
background-color: #fff;
font-family: 'Roboto', sans-serif;
color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p
ul   {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Шапка */
.header>.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.container>.card-list-contact{
    display: flex;
    flex-wrap: wrap;}

ul{list-style: none;}

.header{
    background-color: var(--color-background);
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
}

nav{
    flex-wrap: wrap;
    display: flex;
}

.logo{
    font-family: 'Raleway', sans-serif;
    color:#000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}



.logo-accent{
    color: var(--color-accent);
}

.card-list{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.card-list-contact{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;
    
}



.link-item{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 50px;

}


.link-item:hover{color:var(--color-accent)}

.link-item:focus{color:var(--color-accent)}

.current-link-item{
    text-decoration: none;
    color: var(--color-accent);
    margin-right: 50px;
}
.current-link-item:hover{color:var(--color-accent)}

.current-link-item:focus{color:var(--color-accent)}

.link-contact-item{
    text-decoration: none;
    color: var(--text-color-optional);
    margin-right: 50px;
}

.link-contact-item:hover{color:var(--color-accent)}

.link-contact-item:focus{color:var(--color-accent)}
/* hero  */

.hero{
    background-color: var(--color-brend);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}
.hero-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--color-background);
    text-align: center;
    letter-spacing: 0.06em;

}
.hero-button{
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-background);
    cursor: pointer;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
    text-align: center;
}
/* Наші переваги */
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.card{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: -30px;
}
.card>.card-item{
    flex-basis: calc(100%/4-30px);
   
}

.card-item:not(:last-child){margin-right: 30px;}

.subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7; 
    letter-spacing: 0.03em;    
    color: var(--text-color-optional);
    margin-top: 10px;
    margin-bottom: 0;
}
/* Чим ми займаємося */
.third-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.card-title{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.card-title-item{
    flex-basis: calc(100%/3-30px);
    margin-top: 50px;
}

.card-title-item:not(:last-child){margin-right: 30px;}
/* Наша команда */
.our-team{
    background-color: #F5F4FA;;
}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.our-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.our-team-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text-color-optional);
}

.footer{
    background-color: var(--color-brend);
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color:var(--color-background);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address{
    text-decoration: none;
}

.link-address{
    text-decoration: none;
    font-style: normal;
    color: var(--color-background);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.link-address:hover{color:var(--color-accent)}

.link-address:focus{color:var(--color-accent)}

.link-contact-address{
    text-decoration: none;
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.link-contact-address:hover{color:var(--color-accent)}

.link-contact-address:focus{color:var(--color-accent)}

.portfolio{
    background-color: var(--color-background);
}

.link-portfolio{
    text-decoration: none;
    
}

.subtitle-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
    color: var(--text-color)
}

.subtitle-portfolio-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;  
    letter-spacing: 0.03em;
    color: var(--text-color-optional);
}

.button-portfolio{
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-portfolio:hover{
background-color: var(--color-accent);
color: var(--color-background)
}

.button-portfolio:focus{
background-color: var(--color-accent);
color: var(--color-background)
}

.button-portfolio:active{
background-color: var(--color-accent);
}