:root{
    --color-brend:#2F303A;
    --color-accent:#2196F3;
    --color-background:#FFFFFF;
    --text-color:#212121;
    --text-color-optional:#757575;

}

body{
background-color: #fff;
font-family: 'Roboto', sans-serif;
color: var(--text-color);
}

.container{
    max-width: 1200px;
    
}

ul{list-style: none;}

.header{background-color: var(--color-background);}

.logo{
    font-family: 'Raleway', sans-serif;
    color:#000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-accent{
    color: var(--color-accent);
}

.list{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.list-contact{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
}

.link{
    text-decoration: none;
    color: var(--text-color)
}
.link:hover{color:var(--color-accent)}

.link:focus{color:var(--color-accent)}

.current-link{
    text-decoration: none;
    color: var(--color-accent)
}
.current-link:hover{color:var(--color-accent)}

.current-link:focus{color:var(--color-accent)}

.link-contact{
    text-decoration: none;
    color: var(--text-color-optional);
}
.link-contact:hover{color:var(--color-accent)}

.link-co:focus{color:var(--color-accent)}

.hero{
    background-color: var(--color-brend);
}
.hero-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--color-background)
}
.hero-button{
background-color: var(--color-accent);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
color: var(--color-background);
cursor: pointer;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7; 
    letter-spacing: 0.03em;    
    color: var(--text-color-optional);
}

.third-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.our-team{
    background-color: #F5F4FA;;
}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.our-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.our-team-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text-color-optional);
}

.footer{
    background-color: var(--color-brend);
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color:var(--color-background);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address{
    text-decoration: none;
}

.link-address{
    text-decoration: none;
    font-style: normal;
    color: var(--color-background);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.link-address:hover{color:var(--color-accent)}

.link-address:focus{color:var(--color-accent)}

.link-contact-address{
    text-decoration: none;
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.link-contact-address:hover{color:var(--color-accent)}

.link-contact-address:focus{color:var(--color-accent)}

.portfolio{
    background-color: var(--color-background);
}

.link-portfolio{
    text-decoration: none;
    
}

.subtitle-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
    color: var(--text-color)
}

.subtitle-portfolio-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;  
    letter-spacing: 0.03em;
    color: var(--text-color-optional);
}

.button-portfolio{
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-portfolio:hover{
background-color: var(--color-accent);
color: var(--color-background)
}

.button-portfolio:focus{
background-color: var(--color-accent);
color: var(--color-background)
}

.button-portfolio:active{
background-color: var(--color-accent);
}